{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}FlaskApp - Edit Profile{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
{% endblock %}

{% block page_content %}
<div class="page-header">
    <img class="img-rounded profile-thumbnail" src="{{ user.gravatar(size=256) }}">
    <div class="profile-header">
        <h1>{{ user.username }}</h1>
        {{ wtf.quick_form(form) }}
        <p/>
        <p class="text-muted">Manage your avatar using <a href="http://gravatar.com">Gravatar</a>.
            <a href="#" data-toggle="modal" data-target="#basicModal"><i class="fa fa-question-circle"></i></a>
        </p>
    </div>
</div>

<div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Avatar Information</h4>
            </div>
            <div class="modal-body">
                <p>Avatars are provided by <a href="http://robohash.org" target="_blank">Robohash</a> and <a href="http://gravatar.com"  target="_blank">Gravatar</a>.</p>
                <p>If you haven't configured an avatar on the Gravatar website, a default <a href="http://robohash.org"  target="_blank">Robohash</a>
                avatar will be created for you. Robohash generates an avatar based on an MD5 hash computed from your email address.
                Your real email address isn't used for your privacy. If you change your email address your avatar will also change.
                </p>
                <p>To use an avatar of your choice, create an account on <a href="http://gravatar.com"  target="_blank">Gravatar</a> and configure an
                avatar.  When you come back to this website you will see it being used automatically.
                </p>
                <p>For more information on how to setup a Gravatar account click
                <a href="https://en.gravatar.com/support/how-to-sign-up/"  target="_blank">here</a>.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
</div>
{% endblock %}
